.navBar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.create {
  font-weight: bolder;
  border-radius: 5px;
  color: black;
  padding: 5px;
  text-decoration: none;
}

.create:hover {
  background-color: black;
  color: white;
  transition: 0.25s;
}
