.body {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}


.pageNumbers {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageNumbers li {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.pageNumbers li button {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.pageNumbers li button:hover {
  background-color: black;
  color: white;
}

.pageNumbers li button:focus {
  outline: none;
}

.pageNumbers li.active {
  background-color: black; 
  color: white;
}

.container {
    text-decoration: none;
    font-family: Shadows Into Light Two;
    width: 260px;
    height:  300px;
    border-radius: 20px;
    border-color: rgb(92, 87, 87);
    margin-top: 50px;
    margin: 10px;
    box-shadow: 0 2px 2px 2px rgb(158, 155, 155);
    padding: 0px;
    background-color: rgba(216, 218, 138, 0.822);
    transition: all 0.25s; 
    text-align:center;
    color: black;
}

.container:hover {
-webkit-transform: scale(1.10);
   transform: scale(1.10);
   box-shadow: 0 5px 10px rgb(196, 192, 192);
}

.image {
  text-decoration: none;
  border-radius: 30px; 
  width: 150px; 
  height:150px;
  margin-top: 10px; 
}

.loading {
  display: flex;
}
