.search_input {
  height: 5%;
  padding: 5px;
}

.searchbtn {
  background-color: black;
  border: 0px solid black;
  margin-left: 10px;
  border-radius: 3px;
  padding: 5px;
  font-size: large;
  color: white;
}

.searchbtn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: 0.25s;
  cursor: pointer;
}
