.filters_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempselect {
  margin-left: 10px;
}

.tempselect:hover {
  cursor:  pointer;
}

.temperament {
  font-weight: bolder;
}

.creator {
  font-weight: bolder;
}

.creatorSelect {
  margin-left: 10px;
}

.creatorSelect:hover {
  cursor: pointer;
}
