.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tempselect {
  margin-left: 30px;
}

.temperament {
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator {
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creatorSelect {
  margin-left: 40px;
}

.creatorSelect:hover {
  cursor: pointer;
}
