.filters_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.filters_container article {
  margin-left: 20px;
}

.filters_container article p {
  font-weight: bold;
  margin-left: 10px;
}

select {
  margin-left: 25px;
  cursor: pointer;
}
